*
{
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

a
{
    text-decoration: none;
    color: inherit;
}
button
{
    border: none;
    cursor: pointer;
}
body
{
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}
dialog
{
    margin: auto;
    padding: auto;
}

.sidebar
{
    box-sizing: border-box;
    background-color: #FCF9F7;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2% 4%;
}
.sidebar-link
{
    font-size: 20px;
    padding: 1rem 0;
    display: flex;
    width: 100%;
    gap: 2%;
    align-items: center;
    img,svg
    {
        height: 1em;
        width: 1em;
    }
}
.add-project
{
    p
    {
        font-size: 35px;
    }
}

.todo-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    padding: 2% 2%;
}
.todo-item
{
    border: 2px solid rgb(224, 224, 224);
    border-radius: 15px;
    padding: 2% 2%;
    position: relative;

    .title
    {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 2%;
    }
    .duedate
    {
        margin-top: 2%;
    }
    .edit img
    {
        position: absolute;
        bottom: 10%;
        right: 3%;
        width: 2em;
        height: 2em;
    }
    .remove img
    {
        position: absolute;
        top: 10%;
        right: 3.3%;
        width: 1.6em;
        height: 1.6em;
    }
}

.add-todo-button
{
    color: white;
    background-color: rgb(214, 16, 16);
    font-size: 60px;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;

    position: absolute;
    bottom: 8%;
    right: 5%;
}

.modal
{
    padding: 2%;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 15px;

    .close-modal-button
    {
        position: absolute;
        top: 2%;
        right: 3%;
        color: red;
        background-color: white;
        font-weight: 600;
        font-size: 20px;
    }
    form
    {
        display: flex;
        flex-direction: column;
        input,textarea
        {
            margin: 0 0 1em 0;
            font-size: 20px;
        }
        button
        {
            color: white;
            font-weight: 600;
            font-size: 25px;
            border-radius: 20px;
            margin-top: 20px;
            padding: 0.3em 0;
            width: 50%;
            align-self: center;
            background-color: rgb(214, 16, 16);;
        }
    }
}